
Pyspark GroupBy And Aggregate Functions

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

24/04/26 01:21:26 WARN Utils: Your hostname, Chanchals-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 172.28.17.96 instead (on interface en0)
24/04/26 01:21:26 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/26 01:21:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/04/26 01:21:27 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/04/26 01:21:27 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/04/26 01:21:27 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
24/04/26 01:21:27 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.

In [3]:
spark

In [5]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)

In [6]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
| Chanchal| 31|        10| 30000|
|   Khushi| 30|         8| 25000|
|   Kartik| 29|         4| 20000|
|     Ansh| 24|         3| 20000|
|Divyanshi| 21|         1| 15000|
|   Aniket| 23|         2| 18000|
+---------+---+----------+------+

In [7]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [8]:
## Groupby
### Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

+---------+--------+---------------+-----------+
|     Name|sum(age)|sum(Experience)|sum(Salary)|
+---------+--------+---------------+-----------+
| Chanchal|      31|             10|      30000|
|   Aniket|      23|              2|      18000|
|Divyanshi|      21|              1|      15000|
|   Kartik|      29|              4|      20000|
|   Khushi|      30|              8|      25000|
|     Ansh|      24|              3|      20000|
+---------+--------+---------------+-----------+

In [9]:
sdf_pyspark.groupBy('Name').avg().show()

+---------+--------+---------------+-----------+
|     Name|avg(age)|avg(Experience)|avg(Salary)|
+---------+--------+---------------+-----------+
| Chanchal|    31.0|           10.0|    30000.0|
|   Aniket|    23.0|            2.0|    18000.0|
|Divyanshi|    21.0|            1.0|    15000.0|
|   Kartik|    29.0|            4.0|    20000.0|
|   Khushi|    30.0|            8.0|    25000.0|
|     Ansh|    24.0|            3.0|    20000.0|
+---------+--------+---------------+-----------+