Pyspark Handling Missing Values

Dropping Columns

Dropping Rows

Various Parameter In Dropping functionalities

Handling Missing values by Mean, MEdian And Mode

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

24/04/25 23:41:18 WARN Utils: Your hostname, Chanchals-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 172.28.17.96 instead (on interface en0)
24/04/25 23:41:18 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/25 23:41:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/04/25 23:41:18 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/04/25 23:41:18 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [4]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)

In [5]:
df_pyspark

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [7]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
| Chanchal| 31|        10| 30000|
|   Khushi| 30|         8| 25000|
|   Kartik| 29|         4| 20000|
|     Ansh| 24|         3| 20000|
|Divyanshi| 21|         1| 15000|
|   Aniket| 23|         2| 18000|
+---------+---+----------+------+

In [8]:
##drop the columns
df_pyspark.drop('Name').show()

+---+----------+------+
|age|Experience|Salary|
+---+----------+------+
| 31|        10| 30000|
| 30|         8| 25000|
| 29|         4| 20000|
| 24|         3| 20000|
| 21|         1| 15000|
| 23|         2| 18000|
+---+----------+------+

In [9]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
| Chanchal| 31|        10| 30000|
|   Khushi| 30|         8| 25000|
|   Kartik| 29|         4| 20000|
|     Ansh| 24|         3| 20000|
|Divyanshi| 21|         1| 15000|
|   Aniket| 23|         2| 18000|
+---------+---+----------+------+

In [10]:
df_pyspark.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
| Chanchal| 31|        10| 30000|
|   Khushi| 30|         8| 25000|
|   Kartik| 29|         4| 20000|
|     Ansh| 24|         3| 20000|
|Divyanshi| 21|         1| 15000|
|   Aniket| 23|         2| 18000|
+---------+---+----------+------+

In [11]:
### any==how
df_pyspark.na.drop(how="any").show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
| Chanchal| 31|        10| 30000|
|   Khushi| 30|         8| 25000|
|   Kartik| 29|         4| 20000|
|     Ansh| 24|         3| 20000|
|Divyanshi| 21|         1| 15000|
|   Aniket| 23|         2| 18000|
+---------+---+----------+------+

In [12]:
##threshold
df_pyspark.na.drop(how="any",thresh=3).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
| Chanchal| 31|        10| 30000|
|   Khushi| 30|         8| 25000|
|   Kartik| 29|         4| 20000|
|     Ansh| 24|         3| 20000|
|Divyanshi| 21|         1| 15000|
|   Aniket| 23|         2| 18000|
+---------+---+----------+------+

In [13]:
##Subset
df_pyspark.na.drop(how="any",subset=['Age']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
| Chanchal| 31|        10| 30000|
|   Khushi| 30|         8| 25000|
|   Kartik| 29|         4| 20000|
|     Ansh| 24|         3| 20000|
|Divyanshi| 21|         1| 15000|
|   Aniket| 23|         2| 18000|
+---------+---+----------+------+

In [14]:
### Filling the Missing Value
df_pyspark.na.fill('Missing Values',['Experience','age']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
| Chanchal| 31|        10| 30000|
|   Khushi| 30|         8| 25000|
|   Kartik| 29|         4| 20000|
|     Ansh| 24|         3| 20000|
|Divyanshi| 21|         1| 15000|
|   Aniket| 23|         2| 18000|
+---------+---+----------+------+

In [15]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
| Chanchal| 31|        10| 30000|
|   Khushi| 30|         8| 25000|
|   Kartik| 29|         4| 20000|
|     Ansh| 24|         3| 20000|
|Divyanshi| 21|         1| 15000|
|   Aniket| 23|         2| 18000|
+---------+---+----------+------+

In [16]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [17]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [18]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+---+----------+------+-----------+------------------+--------------+
|     Name|age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+---+----------+------+-----------+------------------+--------------+
| Chanchal| 31|        10| 30000|         31|                10|         30000|
|   Khushi| 30|         8| 25000|         30|                 8|         25000|
|   Kartik| 29|         4| 20000|         29|                 4|         20000|
|     Ansh| 24|         3| 20000|         24|                 3|         20000|
|Divyanshi| 21|         1| 15000|         21|                 1|         15000|
|   Aniket| 23|         2| 18000|         23|                 2|         18000|
+---------+---+----------+------+-----------+------------------+--------------+