In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

24/04/26 00:54:47 WARN Utils: Your hostname, Chanchals-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 172.28.17.96 instead (on interface en0)
24/04/26 00:54:47 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/26 00:54:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/04/26 00:54:48 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/04/26 00:54:48 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/04/26 00:54:48 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [3]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
| Chanchal| 31|        10| 30000|
|   Khushi| 30|         8| 25000|
|   Kartik| 29|         4| 20000|
|     Ansh| 24|         3| 20000|
|Divyanshi| 21|         1| 15000|
|   Aniket| 23|         2| 18000|
+---------+---+----------+------+

In [4]:

### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|   Kartik| 29|         4| 20000|
|     Ansh| 24|         3| 20000|
|Divyanshi| 21|         1| 15000|
|   Aniket| 23|         2| 18000|
+---------+---+----------+------+

In [5]:
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+---------+---+
|     Name|age|
+---------+---+
|   Kartik| 29|
|     Ansh| 24|
|Divyanshi| 21|
|   Aniket| 23|
+---------+---+

In [6]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|   Kartik| 29|         4| 20000|
|     Ansh| 24|         3| 20000|
|Divyanshi| 21|         1| 15000|
|   Aniket| 23|         2| 18000|
+---------+---+----------+------+

In [8]:
df_pyspark.filter((df_pyspark['Salary']<=20000) | 
                  (df_pyspark['Salary']>=15000)).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
| Chanchal| 31|        10| 30000|
|   Khushi| 30|         8| 25000|
|   Kartik| 29|         4| 20000|
|     Ansh| 24|         3| 20000|
|Divyanshi| 21|         1| 15000|
|   Aniket| 23|         2| 18000|
+---------+---+----------+------+

In [9]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+--------+---+----------+------+
|    Name|age|Experience|Salary|
+--------+---+----------+------+
|Chanchal| 31|        10| 30000|
|  Khushi| 30|         8| 25000|
+--------+---+----------+------+